article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* BASE STYLES */
html {
    font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

img {
	max-width: 100%;
	display: block;
}

.wrapper {
	max-width: 1170px;
    margin: 0 auto;
}

/* GENERAL STYLES */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .2rem;
}

h2 {
    font-size: 6rem;
    font-weight: 700;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

p {
    color: #666666;
    margin: 0;
    line-height: 1.8;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */
header .wrapper {
    position: relative;
}

header h1 {
    font-size: 3.75rem;
    font-weight: 700;
    position: absolute;
    top: 15%;
    left: 42%;
}

.mainNav {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.mainNavL {
    float: left;
}

.mainNavL li:first-child {
    margin-left: 0;
}

.mainNavR {
    float: right;
}

.mainNavR li:last-child {
    margin-right: 0;
}

.mainNav ul li {
    margin: 25px;
    float: left;
}

.mainNav svg {
    font-size: 2rem;
}

.mainNavR .navShopping {
    position: relative;
}

.navShopping .fa-circle {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #c3dab7;
    font-size: 1.6rem;
}

a {
    font-size: 1.4rem;
    padding: 10px 0;
}

a:hover {
    text-decoration: line-through;
}

/* FOOTER STYLES */
footer {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

footer .wrapper {
    padding: 75px 0;
}

footer .wrapper > div {
    float: left;
    width: calc(100% / 3)
}

footer h5 {
    font-size: 1.8rem;
    padding-bottom: 25px;
}

footer p,
footer svg {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4rem;
    letter-spacing: .05rem;
}

footer a {
    color: rgba(255, 255, 255, 0.9);
}

footer .contactUs {
    text-align: left;
}

.contactUs ul.social li {
    float: left;
    padding-top: 20px;
    padding-right: 25px;
}

footer .recentPosts ul {
    list-style-type: initial;
    text-align: left;
    padding-left: 100px;
}

footer .recentPosts li {
    font-size: 1.4rem;
    padding-bottom: 10px;
    letter-spacing: .05rem;
}

footer .subscription {
    text-align: right;
}

footer .subscription form {
    margin-top: 25px;
}

form.subscribe input[type=email] {
    color: #666666;
    font-size: 1.3rem;
    padding: 15px 20px;
    border: none;
}

form.subscribe input[type=submit] {
    background: #c3dab7 url(../assets/arrow.png) center/50% no-repeat;
    border: none;
    float: right;
    width: 48px;
    height: 48px;
}

footer h1 {
    clear: both;
    padding: 50px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.4rem;
}

/* FORM STYLES */
form.generalForm {
    margin: 75px 0 100px 0;
    font-size: 0;
}

form.generalForm input, form.generalForm textarea {
    font-size: 1.4rem;
    color: #999999;
}

form.generalForm input:not(.submit):focus,
form.generalForm textarea:focus {
    color: #000;
    border-bottom: 1px solid #000;
}

form.generalForm input:not(.submit) {
    width: calc(96% / 3);
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

form.generalForm input[type=email] {
    margin: 0 2%;
}

form.generalForm textarea {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    resize: none;
}

form.generalForm .submit {
    background: none;
    color: #000;
    padding: 8px 0;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: "Montserrat", sans-serif; 
    font-weight: 400; 
    letter-spacing: .1rem;
    text-transform: uppercase;
}

form.generalForm .submit:hover {
    border-bottom: 2px solid #000;
    font-weight: 500;
}

/* - - - - - - - - - - INDEX.HTML STYLES - - - - - - - - - - */

    /* HEADER STYLES */
header.indexPage {
    background: url(../assets/home-1.jpeg) center/cover no-repeat;
    min-height: 100vh;
}

    /* MAIN STYLES */
        /* INTRO SECTION STYLES */
section.intro {
    background-color: #c3dab7;
    text-align: center;
}

section.intro .wrapper {
    padding: 20px 120px;
}

.introPhoto {
    padding-top: 150px;
    position: relative;
}

.introPhoto img {
    margin: 0 auto;
}

.introPhoto img:last-child {
    position: absolute;
    top: 13%;
    left: 13%;
}

.introText .branding,
.introText .designDevelop {
    width: 50%;
    padding: 40px;
}

.introText .branding {
    float: left;
}

.introText .designDevelop {
    float: right;
}

.introText p {
    color: #000;
    font-size: 1.4rem;
    padding: 15px;
}

        /* GALLERY SECTION STYLES */
section.gallery .wrapper {
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.galleryCarousel::before,
.galleryCarousel::after {
    font-size: 7rem;
    position: absolute;
    top: 50%;
}

.galleryCarousel::before{
    content: "‹";
    left: 0;
}

.galleryCarousel::after {
    content: "›";
    right: 0;
}

.galleryCarousel:hover::before,
.galleryCarousel:hover::after {
    color: #999999;
}

.galleryCell img {
    margin: 0 auto;
    border-radius: 50%;
}

.galleryCell p {
    padding: 40px 200px 0px 200px;
    font-style: italic;
}

        /* ASSETS ARTICLE STYLES */
article.assets {
    background: url(../assets/home-4.jpeg) center/cover no-repeat;
    height: 100vh;
    padding: 100px 25px;
    position: relative;
}

article.assets .assetsL, 
article.assets .assetsR {
    float: right;
    width: calc(50% / 2 - 50px);
    margin: 50px 0 0 50px;
}

.assetsDescription {
    padding: 5px 5px 100px 5px;
}

.assetsDescription:last-child {
    padding-bottom: 0;
}

.assetsDescription p {
    font-size: 1.3rem;
    margin-top: 10px;
}

article.assets ul li {
    position: relative;
}

.assetsDescription .assetsIcon {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 10px;
    left: -70px;
}

.assetsDescription svg {
    font-size: 20px;
    position: absolute;
    top: 13px;
    right: 12px;
}

.assetsR .assetsDescription:first-child svg {
    right: 16px;
}

.assetsR .assetsDescription:nth-child(2) svg {
    top: 12px;
    right: 13px;
}

.assetsL .assetsDescription:nth-child(2) svg {
    right: 11px;
}

        /* TEAM SECTION STYLES */
section.team .wrapper {
    clear: both;
    padding: 100px 0;
    text-align: center;
}

section.team h3 {
    margin: 25px;
}

section.team .gridTop,
section.team .gridBottom {
    padding-top: 25px;
}

section.team .gridTop .topR,
.gridTop .topR > div,
section.team .gridBottom > div,
.gridBottom .bottomL > div,
.gridBottom .bottomR > div {
    float: left;
    width: 50%;
}

section.team .gridTop .topL {
    float: left;
    width: calc(50% - 25px);
}

.gridTop .topL {
    height: 270px;
    margin-right: 25px;
    background-color: #f6f6f6;
    text-align: left;
    padding: 110px 45px 45px 45px;
}

.gridTop p {
    font-size: 1.4rem;
    padding-top: 20px;
}

.gridBottom .bottomR h5 {
    padding: 100px 40px;
}

        /* PORTFOLIO SECTION STYLES */
section.portfolio {
    background: #c3dab7;
    clear: both;
    text-align: center
}

section.portfolio > div {
    float: left;
    width: 50%;
}

section.portfolio .portfolioL {
    padding: 15% 100px;
}

.portfolioL p {
    font-size: 1.4rem;
    padding: 50px 0 70px 0;
}

.portfolioL a {
    background: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;
    padding: 20px;
}

.portfolioL a:hover {
    text-decoration: none;
}

/* - - - - - - - - - - CONTACT.HTML STYLES - - - - - - - - - - */

    /* MAIN STYLES */
main.contactPage .wrapper {
    position: relative;
}

main.contactPage {
    background: url(../assets/contact-1.jpeg) top center no-repeat;
}

main.contactPage h2 {
    padding: 125px 0 75px 0;
}

main.contactPage h2::before {
    content: "";
    width: 43px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 80px;
}

main.contactPage h4 {
    margin: 20px 0;
    font-weight: 500;
}

main.contactPage p {
    font-size: 1.4rem;
    color: #999;
    letter-spacing: .03rem;
}

main.contactPage .contactTypes {
    padding: 50px;
}

.contactTypes > div {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.contactTypes .typeAddress {
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
}

.contactTypes svg {
    font-size: 4.5rem;
    margin-bottom: 10px;
}

.contactTypes h6 {
    letter-spacing: 0.5rem;
    margin: 10px 0;
    font-size: 1.4rem;
    font-weight: 500;
}

main.contactPage .contactTypes p {
    color: #666666;
}

.contactTypes a {
    color: #666666;
    letter-spacing: .07rem;
}

form.contactUs .submit {
    border-bottom: 2px solid #000;
    font-weight: 500; 
}

form.contactUs .submit:hover {
    font-weight: 700;
}

/* - - - - - - - - - - BLOG.HTML STYLES - - - - - - - - - - */
    /* HEADER STYLES */
header.blogPage {
    background: url(../assets/blog-1.jpeg) center/cover no-repeat;
    min-height: 100vh;
}

    /* MAIN STYLES */
main.blogPage h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 60px 0;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgba(204, 204, 204, 0.8);
}

        /* CURRENT ARTICLE STARTS */
article.current {
    margin: 100px 0;
}

article.current .blogNavPath {
    margin: 10px 0;
    color: #999999;
    letter-spacing: .05rem;
}

article.current p,
.blogNavPath a {
    color: #999999;
}

.blogNavPath a:hover {
    text-decoration: none;
    color: #000;
}

article.current .blogNavPath p {
    display: inline-block;
    font-size: 1.4rem;
    color: #000;
}

article.current .postInfo {
    margin: 50px 0;
    padding: 20px 0;
    border-bottom: 1.5px solid rgba(204, 204, 204, 0.8);
}

.postInfo .postInfoL,
.postInfoL img,
.postInfoData {
    float: left;
}

.postInfo .postInfoR {
    float: right;
}

.postInfoL img {
    border-radius: 50%;
    margin-right: 25px;
}

.postInfoR .postInfoData {
    padding: 0 25px;
    margin-left: 50px;
}

.postInfoData {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.postInfoData h5,
.sharePost h5 {
    letter-spacing: .05rem;
}

.postInfoData p {
    font-size: 1.3rem;
}

article.current .currentPost p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.currentPost p:first-child {
    font-weight: 700;
    color: #000;
}

.sharePost h5,
.sharePost ul,
.sharePost ul li {
    display: inline-block;
    margin-right: 15px;
}

.sharePost svg {
    font-size: 1.6rem;
    margin-right: 5px;
}

        /* RELATED POSTS ASIDE STYLES */
.relatedPostsGrid figure {
    float: left;
}

.relatedPostsGrid figure:nth-of-type(2) {
    margin: 0 2.5%;
}

.relatedPostsGrid figcaption {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    margin: 25px 0;
}

        /* COMMENTS SECTION STARTS */
section.comments {
    margin: 75px 0;
}

section.comments .comment {
    margin-bottom: 30px;
}

.comment img {
    float: left;
}

.comment .commentContainer {
    float: right;
    width: 90%;
    background-color: #f6f6f6;
    padding: 20px 25px 40px 25px;
    position: relative;
}

.comment .commentContainer::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 10px;
    left: -20px;
    border-width: 10px 30px 10px 0;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: #f6f6f6;
    border-bottom-color: transparent;
    border-left-color: #f6f6f6;
}

.commentContainer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    line-height: 2.5;
}

.commentContainer p:first-child {
    text-transform: uppercase;
    color: #000;
    display: inline-block;
}

.commentContainer a {
    font-style: italic;
    color: #405e31;
    letter-spacing: .05rem;
}

.commentContainer a:hover {
    font-weight: 700;
    text-decoration: none;
}

.commentContainer p:nth-of-type(2) {
    font-size: 1.3rem;
    color: #666666;
    letter-spacing: .05rem;
}

.commentContainer p:last-child {
    font-size: 1.1rem;
    color: #999;
}

